<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name=".SecondaryDisplayActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false" />
    </application>
</manifest>
